@import "../../App.scss";

.navinfos{
    height: 60px;
    background-color: #324986;

    @include mobile{
        height: 50px;
    }

    .wrapper{
        max-width: 1366px;
        margin: auto;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mobile{
            padding: 10px 20px;
        }

        @include tablet{
            padding: 15px 30px;
        }
        
        .infos{
            display: flex;
            gap: 5px;

            @include mobile{
                gap: 3px;
            }

            img{
                width: 26px;
                height: 26px;
                transition: all 0.3s ease;
                color: white;

                @include mobile{
                    width: 20px;
                    height: 20px;
                }

                @include tablet{
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .social{
            display: flex;
            gap: 20px;

            @include mobile{
                gap: 12px;
            }

            @include tablet{
                gap: 15px;
            }

            a{
                font-weight: 500;
                color: black;
                transition: all 0.3s ease;

                img{
                    width: 26px;
                    height: 26px;
                    filter: invert(80%) sepia(20%) saturate(500%) hue-rotate(180deg) brightness(90%) contrast(85%);
                    transition: all 0.3s ease;

                    @include mobile{
                        width: 20px;
                        height: 20px;
                    }

                    @include tablet{
                        width: 24px;
                        height: 24px;
                    }
                }

                &:hover{
                    color: yellow;
                }
            }
        }
    } 
}  
