@import "../../App.scss";

.navlogo{
    height: 60px;
    background-color: white;

    

    .wrapper{
        max-width: 1366px;
        margin: auto;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mobile{
                justify-content: flex-end;
                padding: 20px;
            }
        
        .infos{
            display: flex;
            gap: 5px;
            img{
                    width: 115px;
                    height: 39px;
                    transition: all 0.3s ease;
                    color: white;
                }
        }
    } 
}  
