@import "../../App.scss";

.navbar{
    height: 100px;
    background-color: white;
    position:fixed;
    // top: auto;
    z-index: 999; // ramener vers l'avant
    width: 100%;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mobile{
                justify-content: flex-end;
                padding: 20px;
            }



        span{
            font-weight: bold;
            img{
                width: 104px;
                height: 104px;
            }
            // @include mobile{
            //     display: none;
            // }
        }

        .menu{
            display: flex;
            gap: 20px;
            a{
                font-weight: 500;
                color: black;
                transition: all 0.3s ease;

                img{
                    width: 16px;
                    height: 16px;
                    filter: invert(80%) sepia(20%) saturate(500%) hue-rotate(180deg) brightness(90%) contrast(85%);
                    transition: all 0.3s ease;
                    color: black;
                }

                &:hover{
                    color: yellow;
                }
            }

            // a{
            //     margin-left: 20px;

            //     img{
            //         width: 24px;
            //         height: 24px;
            //         filter: invert(80%) sepia(20%) saturate(500%) hue-rotate(180deg) brightness(90%) contrast(85%);
            //         transition: all 0.3s ease;

            //         &:hover{
            //             filter: invert(60%) sepia(40%) saturate(800%) hue-rotate(150deg) brightness(110%) contrast(120%);
            //         }
            //     }
            // }
        }
    }
}